VITE_CONTRACT_ADDRESS=0xYourDeployedVotingContractAddress
VITE_CHAIN_ID_HEX=0xaa37dc
VITE_CHAIN_NAME=Optimism Sepolia
VITE_CHAIN_RPC_URL=https://sepolia.optimism.io
VITE_CHAIN_EXPLORER_URL=https://sepolia-optimism.etherscan.io
VITE_PASSPORT_DECODER_ADDRESS=0xe53C60F8069C2f0c3a84F9B3DB5cf56f3100ba56
